<div class="container-fluid">
    <div class="row">
        <div class="col-8 bg bg-left">
            <div class="input-group mb-3 add-todo input-group-lg">
                <input type="text" class="form-control" placeholder="ADD A NEW MISSION...">
                <div class="input-group-append">
                    <button class="btn btn-add" type="button">+</button>
                </div>
            </div>
        <div class="play-button-container">
            <div class="play-button">
                <div class="play-icon">
                    <i class="fa fa-play fa-3x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        </div>
        <div class="col-4 bg bg-right">
        
        </div>
    </div>
</div>
