@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: "Noto Sans TC";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}